/* Register.css */
.container-register {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
}

.container-register .btn-custom {
  margin-right: 1rem;
}

.error {
  color: red;
}

.form-control {
  width: 28rem;
}
