.featured-container {
  margin: 2rem 0;
}

.button-slide {
  width: auto;
  cursor: default;
}

.button-slide i {
  cursor: pointer;
  color: gold;
  font-size: 5.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adicionando sombra ao texto */
}

.card-img-top {
  height: 48rem;
}
