.img-list-of-products {
  width: 10rem;
  height: 10rem;
}

.img-list-of-products img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço, mantendo sua proporção */
}

.List_of_products .card {
  height: 16rem;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 768px) {
  .List_of_products .card {
    height: 20rem;
  }
}
